// NAVBAR GENERAL //
.navbar-menu {
    background-color: #bebebe;
    width: 100%;
    padding: 1rem 0;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;

    .nav-link {
        color: #000;
        opacity: 1;
        transition: opacity 0.3s ease;
        color: #1f1f1f;
    }

    &:hover .nav-link {
        opacity: 0.6;
    }

    .nav-link:hover {
        opacity: 1 !important;
        color: #000;
    }
}

.full-width-nav {
    background-color: #dd0000;
    width: 100vw;
}

// SUBMENU //
.nav-item.dropdown {
    position: relative;

    &:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        position: absolute;
        font-family: 'Archivo', sans-serif;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        min-width: 180px;
        background-color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: background-color 0.3s ease;

        .dropdown-item {
        color: #000;
        transition: background-color 0.3s ease, filter 0.3s ease;

        &:hover {
            background-color: #f0f0f0;
            filter: brightness(0.9);
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        }
    }
}

