#carouselmexo
  .carousel-control-prev,
  .carousel-control-next {
    background: none;
    width: auto;
    border: none;
    padding: 1rem;
  }

  .carousel-item {
  transition: transform 0.3s ease-in-out;
}

#carouselmexo .carousel-control-next {
  right: 0 !important;
  padding-right: 0 !important;
  margin-right: 15px !important;
  width: 40px; // ajustá esto si querés un ancho más fino
}


  .carousel-control-prev-icon,
  .carousel-control-next-icon {

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .carousel-item img {
    height: 500px;
    object-fit: fill;
    width: 100%;
  }

//!------------PLACAS DE VIDEO--------------!/

.flexdeplacas-container {
  max-width: 1600px;
  margin: 100px auto 0;
  margin-bottom: 150px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    width: 100%;
    text-align: left;
    font-size: 34px;
    font-weight: 350;
    margin-bottom: 2rem;
  }
}

.placas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  width: 100%;
}

.placas {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(236, 233, 233, 0.05);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    transform: scale(1.06);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 9px 11px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 19px -4px rgba(0,0,0,0.75);
    border-color: #e0e0e0;
}

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .nombre {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 16px;
  }

  .precio {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
}

//!------------PLACAS DE VIDEO--------------!/


// ------------PROCESADORES----------------- /

.flexdeprocesadores-container {
  max-width: 1600px;
  margin: 50px auto 0;
  margin-bottom: 150px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    width: 100%;
    text-align: left;
    font-size: 34px;
    font-weight: 350;
    margin-bottom: 2rem;
  }
}

.procesadores-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  width: 100%;
}

.procesadores {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(236, 233, 233, 0.05);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    transform: scale(1.06);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 9px 11px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 19px -4px rgba(0,0,0,0.75);
    border-color: #e0e0e0;
}
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .nombre {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 16px;
  }

  .precio {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
}

//-------------PROCESADORES---------- /

//? ------------MONITORES------------- */

.flexdemonitores-container {
  max-width: 1600px;
  margin: 50px auto 0;
  margin-bottom: 80px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    width: 100%;
    text-align: left;
    font-size: 34px;
    font-weight: 350;
    margin-bottom: 2rem;
  }
}

.monitores-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
  width: 100%;
}

.monitores {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(236, 233, 233, 0.05);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-5px);
    transform: scale(1.06);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 9px 11px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 11px 19px -4px rgba(0,0,0,0.75);
    border-color: #e0e0e0;
}

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .nombre {
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 16px;
  }

  .precio {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
}